[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stabiliser"]
	path = stabiliser
	url = https://github.com/roberthyde/stabiliser
